---
layout: default
title: About
image: assets/images/logo_square.png
---

<!-- About Jumbotron
================================================== -->    
<section class="intro full-width">
    <div class="wrapintro">
        <h1>Welcome to Hunter ACM!</h1>
        <h2 class="lead">We're a community of Hunter College students interested in CS and tech. We design, code, build, and learn about topics not taught in our classes.</h2>    
        <a href="#events" class="btn">Join Us</a>
    </div>
</section>


<!-- Regular Events
================================================== --> 
 <section>
    <div class="section-title" id="events">
        <h2><span>Attend an Event</span></h2>
    </div>
    
    <div class="article-post">
        <p>We host a <a href="https://en.wikipedia.org/wiki/Hackerspace" target="_blank">makerspace</a> every Thursday at 5:30pm to 7:30pm in the JLAB (1000J in the North building). Come meet other students, work on projects, listen to tech talks, participate in 
        workshops, and more! We welcome all members of the CUNY community regardless of
        technical experience. Join us even if you've never written a single line of code; we're all 
        here to learn.</p>

        <p>Check <a href="https://www.facebook.com/{{site.facebook}}" target="_blank">our Facebook page</a> for more information about 
        upcoming events.</p>
    </div>
    
</section>


<!-- Getting Involved
================================================== --> 
 <section>
    <div class="section-title">
        <h2><span>Get Involved</span></h2>
    </div>
    
    <div class="article-post" id="contribute">
        <p>In addition to attending our weekly meetings, there are many ways for members 
        to contribute to our community while developing their leadership, planning, writing, and 
        public speaking skills. Get involved by 
            <ul>
                <li>Leading a workshop</li>
                <li>Demoing something you've designed, coded, or built</li> 
                <li>Presenting your research</li>
                <li>Talking about your internship experience(s)</li>
                <li>Writing a blog post</li>        
                <li>Suggesting an event for Hunter ACM to hold</li> 
                <li>Recommending an event for members to attend</li> 
                <li>Joining the board</li>  
            </ul>
        </p>

        <p><a href="#" target="_blank">Let us know</a> how you'd like to get involved.</p>
    </div>
    
</section>


<!-- About the ACM (Umbrella Org) 
================================================== --> 
 <section>
    <div class="section-title" id="acm">
        <h2><span>Learn About the ACM</span></h2>
    </div>
    
    <div class="article-post">
        <p>Hunter ACM is a student chapter of the <a href="https://www.acm.org" target="_blank">Association for Computing Machinery (ACM)</a>, which is recognized as the "world's largest educational and scientific computing society". The Purposes of the ACM are "advancing the art, science, engineering, and application of information technology; fostering the open interchange of information to serve both professionals and the public; and promoting the highest professional and ethical standards". We subsribe to these purposes.</p>

        <p>Though you don't have formally join the ACM to be a member of Hunter ACM, we encourage you to learn about the <a href="https://www.acm.org/membership/membership-benefits" target="_blank">benefits of becoming an ACM member</a>.</p>
    </div>
    
</section>


<!-- Board Members
================================================== -->
<section class="featured-posts">

    <div class="section-title">
        <h2><span>Meet the Board</span></h2>
    </div>

    <div class="row listfeaturedtag">

    {% for post in site.posts %}

        {% if post.memberprofile == true %}

            {% include memberprofilebox.html %}

        {% endif %}

    {% endfor %}

    </div>

</section>
